<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myparentbankproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>myparentbankproject.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyParentBankProject</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyParentBankProject</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=sql1.gtt.me;Initial Catalog=db_2bd2783b373f4be6a6f7376d39d0601c;User ID=U_2bd2783b373f4be6a6f7376d39d0601c;Password=pwd_2bd2783b373f4be6a6f7376d39d0601c" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ParentsBank.Models.ApplicationDbContext, ParentsBank" MigrationConfiguration="ParentsBank.Migrations.Configuration, ParentsBank" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sql1.gtt.me;Initial Catalog=db_2bd2783b373f4be6a6f7376d39d0601c;User ID=U_2bd2783b373f4be6a6f7376d39d0601c;Password=pwd_2bd2783b373f4be6a6f7376d39d0601c</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>